<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <link th:href="@{/BootStrap/css/bootstrap.css}" rel="stylesheet">
    <style>
        #sidebar{
            width: 200px;
            position: absolute;
            z-index: 1;
        }
        #main{
            margin-left: 210px;
            margin-right: 10px;
            width: 1200px;
            margin-top: 74px;
        }
        .active {
            color: whitesmoke;
        }
    </style>
</head>
<body>
<!--导航-->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="navbar-header">
        <a th:href="@{/index}" class="navbar-brand">后台管理</a>
    </div>
    <ul class="nav navbar-nav" style="margin-right: 20px">
        <li><a th:href="@{/user/userList}" class="active">&nbsp;学生管理</a></li>
    </ul>
    <ul class="nav navbar-nav" style="margin-right: 20px; color: whitesmoke" th:if="${loginUser.type == 3}">
        <li><a th:href="@{/user/teacherList}">&nbsp;教师管理</a></li>
    </ul>
    <ul class="nav navbar-nav" style="margin-right: 20px" th:if="${loginUser.type != 1}">
        <li><a th:href="@{/video/videoList}">&nbsp;视频管理</a></li>
    </ul>
    <ul class="nav navbar-nav" style="margin-right: 20px" th:if="${loginUser.type == 3}">
        <li><a th:href="@{/news/newsList}">&nbsp;新闻管理</a></li>
    </ul>
    <ul class="nav navbar-nav" style="margin-right: 20px" th:if="${loginUser.type == 3}">
        <li><a th:href="@{/image/imageList}">&nbsp;轮播图管理</a></li>
    </ul>
    <ul class="nav navbar-nav" style="margin-right: 20px" th:if="${loginUser.type != 1}">
        <li><a th:href="@{/work/workList}">&nbsp;作业管理</a></li>
    </ul>
    <ul class="nav navbar-nav" style="margin-right: 20px" th:if="${loginUser.type != 1}">
        <li><a th:href="@{/leave/leaveList}">&nbsp;请假管理</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
        <li><a th:href="@{/logout}">&nbsp;退出</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
        <li><a th:href="@{/my}" th:if="${loginUser!=null}"> <span th:utext="${loginUser.name}">admin</span>&nbsp;</a></li>
    </ul>
</div>
<!--侧边栏-->
<!--<div class="navbar-default navbar-collapse" id="sidebar">-->
<!--    <ul class="nav">-->
<!--        <li>-->
<!--            <a href="#sub1" data-toggle="collapse">系统功能<span class="glyphicon glyphicon-chevron-down pull-right"></span></a>-->
<!--            <ul id="sub1" class="nav collapse">-->
<!--                <li><a th:href="@{/login}">&nbsp;&nbsp;&nbsp;系统信息</a></li>-->
<!--                <li><a href="">&nbsp;&nbsp;&nbsp;管理员</a></li>-->
<!--                <li><a href="">&nbsp;&nbsp;&nbsp;日志</a></li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#sub2" data-toggle="collapse">系统功能<span class="glyphicon glyphicon-chevron-down pull-right"></span></a>-->
<!--            <ul id="sub2" class="nav collapse">-->
<!--                <li><a href="">&nbsp;&nbsp;&nbsp;系统信息</a></li>-->
<!--                <li><a href="">&nbsp;&nbsp;&nbsp;管理员</a></li>-->
<!--                <li><a href="">&nbsp;&nbsp;&nbsp;日志</a></li>-->
<!--            </ul>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
<!--主页面-->
<div id="main">
<!--    &lt;!&ndash;面包导航&ndash;&gt;-->
<!--    <ol class="breadcrumb">-->
<!--        <li><a href="#">新闻</a></li>-->
<!--        <li><a href="#">国内新闻</a></li>-->
<!--        <li><a href="#">体育新闻</a></li>-->
<!--    </ol>-->
    <!-- 第一行-->
    <div class="row">
        <div class="col-sm-12">
            <div id="user" class="col-md-3 col-md-offset-1" style="height: 400px;"></div>
            <div id="work" class="col-md-6 col-md-offset-1" style="height: 400px;"></div>
        </div>
    </div><!-- 第一行-->
    <div class="row">
        <div id="video" class="col-md-8 col-md-offset-1" style="height: 400px;"></div>
    </div>
</div>
<script th:src="@{/js/echarts.js}"></script>
<script th:src="@{/jQuery/jquery-2.1.4.min.js}"></script>
<script th:src="@{/BootStrap/js/bootstrap.js}"></script>
<script>
    window.onload = function () {
        data();
    }
    function data() {
        var userChat = echarts.init(document.getElementById('user'));
        var workChat = echarts.init(document.getElementById('work'));
        var videoChat = echarts.init(document.getElementById('video'));
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/education/admin/data",
            success:function (data) {
                console.log(data);
                userChat.setOption({
                    title: {
                        text: '成员数据'
                    },
                    tooltip: {},
                    xAxis: {
                        data: ['用户', '教师', '管理员']
                    },
                    yAxis: {},
                    series: [{
                        name: '数量',
                        type: 'bar',
                        data: [data.userNum, data.teacherNum, data.adminNum]
                    }]
                })
            }
        })
    }
</script>
</body>
</html>