<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.education.mapper.NewsMapper">

    <resultMap id="BaseResultMap" type="com.program.education.entity.News">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="admin_id" column="admin_id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,admin_id,title,
        content,create_time
    </sql>
    <sql id="insert">
        admin_id,title,
        content,create_time
    </sql>

    <insert id="addNews" parameterType="News" keyProperty="id">
        insert into news (<include refid="insert"></include>)
        values(#{admin_id}, #{title}, #{content}, #{create_time})
    </insert>
    <delete id="deleteById">
        delete from news where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.program.education.entity.News">
        select <include refid="Base_Column_List"></include>
        from news
        order by create_time desc
        limit #{offset}, #{limit}
    </select>
</mapper>
