<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.program.education.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.program.education.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        name,sex,type,
        create_time
    </sql>
    <sql id="insertFields">
        username,password,
        name,sex,type,
        create_time
    </sql>
    <update id="updatePassword">
        update user set password = #{password}
        where id = #{id}
    </update>
    <update id="updateUser">
        update user
        <set>
            username = #{username},
            password = #{password},
            name = #{name},
            sex = #{sex}
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from user where id = #{id}
    </delete>

    <select id="selectById" resultType="User">
        select <include refid="Base_Column_List"></include>
        from user
        where id = #{id}
    </select>

    <select id="selectByUsernameAndPasswordAndType" resultType="User">
        select <include refid="Base_Column_List"></include>
        from user
        where username = #{username} and password = #{password}
    </select>
    <select id="selectByUsername" resultType="com.program.education.entity.User">
        select <include refid="Base_Column_List"></include>
        from user
        where username = #{username} and type = #{type}
    </select>
    <select id="selectUserList" resultType="com.program.education.entity.User">
        select <include refid="Base_Column_List"></include>
        from user
        where type = #{type}
    </select>

    <insert id="insertUser" parameterType="User" keyProperty="id">
        insert into user (<include refid="insertFields"></include>)
        values(#{username}, #{password}, #{name}, #{sex}, #{type}, #{create_time})
    </insert>


</mapper>
